/* 최신게시글, 핫이슈, 베스트 */
.posting_nmh {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 150px;
  height: auto;
  min-height: 400px;
}
#box-left_nmh {
  background: greenyellow;
  flex: 1;
  flex-direction: column;
  text-align: center;
  border-right: 10px solid white;
  border-radius: 40px;
}
.box-center_nmh {
  background: orange;
  flex: 1;
  flex-direction: column;
  text-align: center;
  border-right: 10px solid white;
  border-radius: 40px;
}
.box-right_nmh {
  background: yellow;
  flex: 1;
  flex-direction: column;
  text-align: center;
  border-radius: 40px;
}

#utd_nmh {
  font-size: 15px;
}

.uhb-list_nmh {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  object-fit: cover;
  border-radius: 10px;
  text-align: left;
  font-size: 30px;
}

.uhb-img_nmh {
  max-width: 50px;
  min-height: 50px;
  width: auto;
  height: auto;
  object-fit: cover;
  border: 3px groove #ea9e9e;
  margin: 5px 0px auto 3px;
}



#hot_nmh {
  font-size: 15px;
}


#best_nmh {
  font-size: 15px;
}

.card-img-top {
  height: 4rem;
  width: px;
  object-fit: cover;
}

.row {
  width: auto;
}



.col {
  flex-direction: column !important
}