* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    text-align: center;
    /* background-color: gold; */
}

.wrap {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    /* background-color: gold; */
}

#aside-left {
    float: left;
    width: 10%;

    margin: 10px;

    background-color: gray;

}

#aside-right {
    float: right;
    width: 10%;

    margin: 10px;

    /* background-color: blue; */
}

.navbar-nav>li{
    width: fit-content;
}

.navbar-nav>li>a{
    width: 70px;
    cursor: pointer;
}

.navbar-nav>li>a:hover{
    border: 2px solid black;
    border-radius: 10px;
}



.section {
    width: 80%;

    margin-top: 10px;
    margin-bottom: 10px;

    /* background-color: red; */
}

#article {
    width: auto;
    height: 400px;
    /* margin: 10px;
    padding: 10px; */

    /* background-color: aqua; */
}

.imgdiv {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.card {
    width: 100%;
}

.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}