/* 최신게시글, 핫이슈, 베스트 */
.posting_nmh {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 150px;
  height: auto;
  min-height: 400px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#box-left_nmh {
  background: greenyellow;
  flex: 1;
  flex-direction: column;
  text-align: center;
  border-radius: 40px;
  height: auto;
}
.box-center_nmh {
  background: orange;
  flex: 1;
  flex-direction: column;
  text-align: center;
  border-radius: 40px;
  height: auto;
  margin: 10px
}
.box-right_nmh {
  background: yellow;
  flex: 1;
  flex-direction: column;
  text-align: center;
  border-radius: 40px;
  height: auto;
}

#utd_nmh {
  font-size: 40px;
}


#hot_nmh {
  font-size: 40px;
}


#best_nmh {
  font-size: 40px;
}

.card-img-top_nmh {
  height: 5rem;
  width: 100%;
  object-fit: cover;
}

.row_nmh {
  width: auto;
  margin: 20px
}

.col {
  margin-top: 25px !important;
}

.card-body {
  margin-top: 0px !important;
}